{#{% set blocs = post.meta('intro_homepage_image') %}#}
{#{% set blocs = post.custom %}#}
{#{{ dump(post) }}#}
{#{% if blocs is not empty %}#}
{#    {% for i, bloc in blocs %}#}
{#        <div>#}
{#            {{ dump(bloc) }}#}
{#            {% include('blocs/' ~ bloc.acf_fc_layout ~ '.twig') with {data: bloc, index: i} %}#}
{#        </div>#}
{#    {% endfor %}#}
{#{% endif %}#}
