<div class="footer container">
    <div class="footer__title">Consectetur adipisicing elit</div>
        <div class="grid2 formatted">
            <div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet at consequatur corporis debitis deserunt
                    dignissimos eaque eos eum harum inventore iste mollitia nulla odio officiis quis similique unde voluptas,
                    voluptatem.
                </p>
            </div>
            <div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet at consequatur corporis debitis deserunt
                    dignissimos eaque eos eum harum inventore iste mollitia nulla odio officiis quis similique unde voluptas,
                    voluptatem.
                </p>
            </div>
        </div>
</div>
