.menu{
  position: absolute;
  top: space(3);
  right: space(3);
  display: flex;
}

.menu a {
  @extend %underlined;
  font-size: 18px;
  font-weight: bold;
  font-family: $f-montserrat;
}

.menu li + li{
  display: inline-block;
  margin-left: space(3);
}
