.mosaic{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: space(3);
}
.mosaic__title{
  @extend %h3;
  margin-bottom: space(3);
}

@include up(500){
  .mosaic{
    grid-template-columns: 1fr 1fr;
    grid-gap: 44px space(3);
  }
  .mosaic__body{
    grid-column: 1 / span 2;
  }
}

@include up(750){
  .mosaic{
    grid-template-columns: 1fr 1fr;
    grid-gap: 44px space(3);
  }
  .mosaic__body{
    grid-column: 1;
  }
  .mosaic__tall{
    align-self: end;
    grid-column: 2;
    grid-row: 1 / span 2;
  }
}
