{% extends 'layouts/base.twig' %}

{% block body %}
    <div class="blocs">
        {% include 'partials/bloc-intro-homepage.twig' %}
    </div>
    <div class="blocs">
        {% include 'partials/bloc-case-studies.twig' %}
    </div>
    <div class="blocs">
        {% include 'partials/bloc-illustrations.twig' %}
    </div>
    <div class="blocs">
        {% include 'partials/footer.twig' %}
    </div>
{#    <h1 class="h1">Hello</h1>#}
{#    <h1 class="h2">Hello</h1>#}
{#    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium architecto distinctio doloribus dolorum#}
{#            in, possimus quo sit ullam! Adipisci amet atque earum enim fugit, nesciunt nisi numquam officia#}
{#            quibusdam ullam.</span><span>Accusamus animi <strong>at aut autem deleniti</strong> et fugiat illum incidunt iste,#}
{#            itaque magnam magni <em>minus <mark>nam nisi</mark> nobis nostrum</em> repellendus similique soluta sunt tempora temporibus#}
{#            ullam voluptate voluptatem. Magnam, quam?</span></p>#}
{% endblock %}
