.tubolinks-progress-bar{
  height: 5px;
  background-color: $black;
}
.js-flip{
  display: block;
}
.page-title, .page-back, .fade, .fade2, .fade3, .fade4, .fade5, .case-study-intro > * {
  animation: 1s slideFadeIn both cubic-bezier(.5,0,0,1);
}
.case-study-intro > *:first-child, .fade2{
  animation-delay: .1s;
}
.case-study-intro > *:last-child, .page-back, .fade3{
  animation-delay: .2s;
}
.fade4{
  animation-delay: .3s;
}
.fade5{
  animation-delay: .4s;
}

@keyframes slideFadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (prefers-reduced-motion: reduce) {
  .fade{
    transition: none!important;
  }
}

// ScrollReveal
// =============
.reveal-loaded .reveal [class*="reveal-"] {
  opacity: 0!important;
  transform: translateY(30px)!important;
  transition: 0s!important;
}

.reveal-loaded [class*="reveal-"]{
  transition: 1s cubic-bezier(.5, 0, 0, 1);
}

.reveal-loaded  .reveal-2 {
  transition-delay: .1s;
}

.reveal-loaded .reveal-3 {
  transition-delay: .2s;
}

.reveal-loaded .reveal-4 {
  transition-delay: .3s;
}

@media (prefers-reduced-motion: reduce) {
  .reveal [class*="reveal-"] {
    opacity: 1!important;
    transform: translateY(0px)!important;
  }
  [class*="reveal-"]{
    transition-duration: 0s!important;
    transition-delay: 0s!important;
  }
}
