.blocs{
  margin-top: space(8);
}

.blocs > * + * {
  margin-top: 100px;
}

%bloc-colored{
  padding-top: 100px;
  padding-bottom: 100px;
  margin-left: calc(var(--container-padding) * -1);
  margin-right: calc(var(--container-padding) * -1);
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  margin-top: 100px;

  & + %bloc-colored{
    margin-top: -1px;
    padding-top: 0;
    border-top: 0px;
  }
}

.bloc.is-black{
  @extend %bloc-colored;
  background-color: $black;
  color: #ffffff;
}

.bloc.is-grey{
  @extend %bloc-colored;
  background-color: $grey;
  border-bottom: 1px solid #979797;
}

.bloc + .bloc{
  margin-top: 100px;
}
