// case-studies homepage
// =======================
.case-studies img {
  @extend %shadow;
  max-height: 318px;
}
.case-studies__title{
  @extend %h1;
  font-size: 44px;
  margin-top: 1em;
  position: relative;
}
.case-studies__title::before{
  position: absolute;
  content: '';
  width: 124px;
  height: 124px;
  background: url(./images/brush-124px.png) center center no-repeat;
  left: -150px;
  top: 0;
}
.case-studies__body{
  display: grid;
  grid-gap: space(8);
  grid-template-columns: 1fr 328px;
  grid-template-areas: 'c1 text' 'c2 text';
  //grid-template: 400px 1fr / auto auto;
}
.case-studies__content{
  //grid-column: 2;
  grid-area: text;
  text-align: right;
  max-width: 318px;
}
.case-studies__item{
  padding-left: 105px;
  //@include down(950){
  //  padding-left: 105px;
  //}
}
.case-studies__image{
  display: block;
  position: relative;
}
.case-studies__type{
  position: absolute;
  bottom: 0;
  left: -60px;
  transform-origin: left bottom;
  text-transform: uppercase;
  transform: rotate(-90deg);
  @include down(950){
    padding-left: -10px;
  }
}
.case-studies__item img{
  display: block;
  margin-bottom: space(3);
}
.case-studies__item.is-1{
  /*grid-column: 1;
  grid-row: 1;*/
  grid-area: c1;
}
.case-studies__item.is-2{
  /*grid-column: 1;
  grid-row: 1;*/
  grid-area: c2;
}


@include down(840){
  .case-studies__body{
    grid-template-columns: 1fr;
    grid-template-areas: 'text' 'c1' 'c2';
  }
  .case-studies__title::before{
    display: none;
  }
  .case-studies__content{
    text-align: center;
    max-width: 100%;
  }
}

// case-study archive single
// ==========================
.case-study-intro{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: space(8);

  @include up(700){
    grid-template-columns: 1fr 190px;
    grid-gap: 100px;
  }
}
.case-study li::before{
  content: '';
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 4px;
  vertical-align: baseline;
  transform: translateY(-6px);
  margin-right: space(1);
  background-color: currentColor;
}

.case-study-thumbnail{
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  object-position: top left;
}
.case-study-center{
  text-align: center;
}
