// Variables
// ==========
$yellow: #FFE1AD;
$black: #06070B;
$gap: 8px;

// Tools
// =========
@import "tools/reset";
@import 'tools/mixins';

// Variables CSS
// ===============
:root{
  --gap: #{$gap};
  --container-padding: #{8 * $gap};
  position: relative;

  @include down(700){
    --container-padding: #{3 * $gap};
  }
}

// Modules
// =========
@import 'modules/spacing';
@import 'modules/typography';
@import 'modules/shadow';
@import 'modules/wordpress';
@import 'modules/blocs';
@import 'modules/images';

// Parts
// =========
@import 'parts/menu.scss';
@import 'parts/intro.scss';
@import 'modules/cases-studies.scss';
@import 'modules/illustrations.scss';

