// Variables
// ==========
$yellow: #FFE1AD;
$black: #06070B;
$gap: 8px;

:root{
  --gap: #{$gap};
  position: relative;
}

// Tools
// =========
@import "tools/reset";
@import 'tools/mixins';

// Modules
// =========
@import 'modules/typography';
@import 'modules/spacing';
@import 'modules/wordpress';

// Parts
// =========
@import 'parts/menu.scss';
